<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.macicecast.daemon</string>
	<key>KeepAlive</key>
	<true />
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/macicecast.app/Contents/MacOS/macicecast</string>
		<string>MPEG</string>
	</array>
	<key>RunAtLoad</key>
	<true />
	<key>StandardErrorPath</key>
	<string>/Applications/macicecast.app/Contents/Resources/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Applications/macicecast.app/Contents/Resources/stdout.log</string>
	<key>WorkingDirectory</key>
	<string>/Applications/macicecast.app/Contents/Resources</string>
</dict>
</plist>
