<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.icecast.daemon</string>
	<key>KeepAlive</key>
	<true />
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/icecast</string>
		<string>-c</string>
		<string>/opt/homebrew/share/icecast/doc/icecast.xml.dist</string>
	</array>
	<key>RunAtLoad</key>
	<true />
</dict>
</plist>
